<div class="intro">
    <div class="left">
      <div class="i-wrapper">
        <h2 class="i-intro">Hello My name is</h2>
        <h1 class="i-name">Mahesh Nimmala</h1>
        <div class="i-tittle">
          <div class="i-tittle-wraper">
            <div class="i-tittle-item">Web Developer</div>
            <div class="i-tittle-item">Web Developer</div>
            <div class="i-tittle-item">Web Developer</div>
            <div class="i-tittle-item">Web Developer</div>
          </div>
        </div>
        <div class="i-desc">
          “The art of debugging is figuring out what you really told your
          program to do rather than what you thought you told it to do.”
        </div>
      </div>
    </div>
    <div class="right">
      <div class="i-bg"></div>
      <img src="assets/img/cartoonbg.png" alt="" class="i-image" />
    </div>
  </div>
